<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-nav">
    <a class="navbar-brand" href="{% url 'index' %}">Home</a>
    <a class="nav-item nav-link" href="{% url 'appone:create'%}">Create IR</a>
  </div>
    </nav>

    <div class="container">

      {% block body_block %}

      {% endblock %}

    </div>

  </body>
</html>
